h1, h2, h3, h4, h5, h6, p, code {
    text-align: center;
}

.left {
    text-align: left;
}

.screen {
    margin: 7rem;
}

.grid {
    border-collapse: collapse;
}

.square {
    height: 50px;
    width: 60px;
    float: right;
}

.blue {
    background-color: #3322af;
}

.black {
    background-color: #000000;
}

.green {
    background-color: #22aa44;
}
